@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif ;

}

html{
    height: 100%;

}

nav {
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.11);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

nav ul{
    float: right;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    color: #272727;
    font-size: 24px;
    text-decoration: none;
    padding-right:28px;
    padding-left: 28px;
    padding-top: 16px;
    padding-bottom: 17px;
    display: block;

}

nav ul li a:hover{
    background-color: #ebebeb;

} 

nav ul li .active {
    color: cornflowerblue;
	border-radius: 10px;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: darkgray;
    padding: 7px;
    border-radius: 0px 0px 12px 12px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li a{
    color: white;
    padding: 16px 20px;
    border-radius: 10px;
}

nav ul li ul li a:hover{
    background-color: rgb(87, 87, 87);
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
}

.container .section {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.container .section:nth-child(1) {
    background: url(./home.png);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(2) {
    background: url(./img.png);
    background-size: cover;
    background-attachment: fixed;
}

.container .section .content {
    position: absolute;
    bottom: 50px;
    left: 30px;
    max-width: 700px;
    font-size: large;
    justify-content: center;

}

.container .section .content h2 {
    background: #fff;
    color: #111;
    font-weight: 600px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 2em;
}

.container .section .content p {
    background: #fff;
    color: #111;
    font-weight: 300px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
}

.container .section .norm {
    width: 280px;
    height: 280px;
    position: absolute;
    top: 300px;
    left:600px;
    background:rgba(225,225,225,0.1);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 48px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);
}



